@model One.Application.ViewModels.ACAlunoVM.CadastroAlunoViewModel
@{
    ViewData["Title"] = "Novo Aluno";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                    @*<a href="#" class="fa fa-times"></a>*@
                </div>

                <h2 class="panel-title">@ViewBag.Title</h2>
            </header>
            <div class="panel-body">
                <section class="panel form-wizard" id="w2">
                    <div class="tabs">
                        <ul class="nav nav-tabs nav-justify">
                            <li class="active">
                                <a href="#w2-account" data-toggle="tab" class="text-center">
                                    @*<span class="badge hidden-xs">1</span>*@
                                    Aluno
                                </a>
                            </li>
                            <li>
                                <a href="#w2-profile" data-toggle="tab" class="text-center">
                                    @*<span class="badge hidden-xs">2</span>*@
                                    Responsável
                                </a>
                            </li>
                            <li>
                                <a href="#w2-confirm" data-toggle="tab" class="text-center disabled">
                                    @*<span class="badge hidden-xs">3</span>*@
                                    Matrículas
                                </a>
                            </li>
                        </ul>
                        <form class="form-horizontal" novalidate="novalidate">
                            <div class="tab-content">
                                @*ABA Aluno*@
                                <div id="w2-account" class="tab-pane active">
                                    <input asp-for="CodigoAluno" />

                                    @*Nome*@
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" asp-for="NomeCompleto"></label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control input-sm" asp-for="NomeCompleto">
                                        </div>
                                    </div>

                                    @*Nascimento/Idade/Telefone*@
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" asp-for="DataNascimento"></label>
                                        <div class="col-sm-2">
                                            <input class="form-control input-sm" asp-for="DataNascimento">
                                        </div>

                                        <label class="col-sm-1 control-label" asp-for="Idade"></label>
                                        <div class="col-sm-2">
                                            <input class="form-control input-sm" asp-for="Idade">
                                        </div>

                                        <label class="col-sm-1 control-label" asp-for="Telefone"></label>
                                        <div class="col-sm-2">
                                            <input class="form-control input-sm" asp-for="Telefone">
                                        </div>
                                    </div>

                                    @*RG/CPF/Dia de Vencimento*@
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" asp-for="RG"></label>
                                        <div class="col-sm-2">
                                            <input class="form-control input-sm" asp-for="RG">
                                        </div>

                                        <label class="col-sm-1 control-label" asp-for="CPF"></label>
                                        <div class="col-sm-2">
                                            <input class="form-control input-sm" asp-for="CPF">
                                        </div>

                                        <label class="col-sm-1 control-label" asp-for="DiaVencimento"></label>
                                        <div class="col-sm-2">
                                            <select class="form-control input-sm" asp-for="DiaVencimento">
                                                <option value="5" selected="selected">5</option>
                                                <option value="10">10</option>
                                                <option value="15">15</option>
                                                <option value="20">20</option>
                                                <option value="25">25</option>
                                            </select>
                                        </div>
                                    </div>

                                    @*CEP/UF/Cidade*@
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" asp-for="CEP"></label>
                                        <div class="col-sm-2">
                                            <input class="form-control input-sm" asp-for="CEP">
                                        </div>

                                        <label class="col-sm-1 control-label" asp-for="CodigoUF"></label>
                                        <div class="col-sm-2">
                                            <select class="form-control input-sm" asp-for="CodigoUF">

                                                @foreach (GEUFViewModel uf in ViewBag.ListaUF)
                                                {
                                                    <option value="@uf.CodigoUF" selected="@(Model.CodigoUF== uf.CodigoUF ? "selected": "")">
                                                        @uf.Descricao
                                                    </option>
                                                }

                                            </select>
                                        </div>

                                        <label class="col-sm-1 control-label" asp-for="CodigoCidade"></label>
                                        <div class="col-sm-2">
                                            <select class="form-control input-sm" asp-for="CodigoCidade"></select>
                                        </div>
                                    </div>

                                    @*Logradouro/Bairro*@
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" asp-for="Logradouro"></label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control input-sm" asp-for="Logradouro">
                                        </div>

                                        <label class="col-sm-1 control-label" asp-for="CodigoBairro"></label>
                                        <div class="col-sm-2">
                                            <select class="form-control input-sm" asp-for="CodigoBairro"></select>
                                        </div>
                                    </div>
                                </div>

                                @*ABA Responsável*@
                                <div id="w2-profile" class="tab-pane">
                                    <div class="col-sm-2 control-label"></div>
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            <div class="switch switch-sm switch-primary">
                                                <input type="checkbox" name="switch" />
                                            </div>
                                            <label>Aluno é o próprio Responsável</label>
                                        </div>

                                        <div class="col-sm-2">
                                            <div class="switch switch-sm switch-primary">
                                                <input type="checkbox" name="switch" />
                                            </div>
                                            <label>Usar Endereço do Responsável</label>
                                        </div>
                                    </div>

                                    <input asp-for="CodigoResponsavel" />

                                    @*Nome*@
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" asp-for="NomeCompletoResponsavel"></label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control input-sm" asp-for="NomeCompletoResponsavel">
                                        </div>
                                    </div>

                                    @*Nascimento/Parentesco*@
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" asp-for="DataNascimentoResponsavel"></label>
                                        <div class="col-sm-2">
                                            <input class="form-control input-sm" asp-for="DataNascimentoResponsavel">
                                        </div>

                                        <label class="col-sm-1 control-label">Idade</label>
                                        <div class="col-sm-2">
                                            <input class="form-control input-sm">
                                        </div>

                                        <label class="col-sm-1 control-label" asp-for="CodigoParentesco"></label>
                                        <div class="col-sm-2">
                                            <select class="form-control input-sm" asp-for="CodigoParentesco"></select>
                                        </div>
                                    </div>

                                    @*RG/CPF/Telefone*@
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" asp-for="CPFResponsavel"></label>
                                        <div class="col-sm-2">
                                            <input class="form-control input-sm" asp-for="CPFResponsavel">
                                        </div>

                                        <label class="col-sm-1 control-label" asp-for="RGResponsavel"></label>
                                        <div class="col-sm-2">
                                            <input class="form-control input-sm" asp-for="RGResponsavel">
                                        </div>

                                        <label class="col-sm-1 control-label" asp-for="TelefoneResponsavel"></label>
                                        <div class="col-sm-2">
                                            <input class="form-control input-sm" asp-for="TelefoneResponsavel">
                                        </div>
                                    </div>

                                    @*CEP/Estado/Cidade*@
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" asp-for="CEPResponsavel"></label>
                                        <div class="col-sm-2">
                                            <input class="form-control input-sm" asp-for="CEPResponsavel">
                                        </div>

                                        <label class="col-sm-1 control-label" asp-for="CodigoUFResponsavel"></label>
                                        <div class="col-sm-2">
                                            <select class="form-control input-sm" asp-for="CodigoUFResponsavel">
                                                @foreach (GEUFViewModel uf in ViewBag.ListaUF)
                                                {
                                                    <option value="@uf.CodigoUF" selected="@(Model.CodigoUFResponsavel== uf.CodigoUF ? "selected": "")">
                                                        @uf.Descricao
                                                    </option>
                                                }

                                            </select>
                                        </div>

                                        <label class="col-sm-1 control-label" asp-for="CodigoCidade"></label>
                                        <div class="col-sm-2">
                                            <select class="form-control input-sm" asp-for="CodigoCidade"></select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" asp-for="LogradouroResponsavel"></label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control input-sm" asp-for="LogradouroResponsavel">
                                        </div>

                                        <label class="col-sm-1 control-label" asp-for="CodigoBairroResponsavel"></label>
                                        <div class="col-sm-2">
                                            <select class="form-control input-sm" asp-for="CodigoBairroResponsavel"></select>
                                        </div>
                                    </div>
                                </div>

                                @*ABA MATRÍCULAS*@
                                <div id="w2-confirm" class="tab-pane">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" for="w2-email">Email</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control input-sm" name="email" id="w2-email" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-2"></div>
                                        <div class="col-sm-10">
                                            <div class="checkbox-custom">
                                                <input type="checkbox" name="terms" id="w2-terms" required>
                                                <label for="w2-terms">I agree to the terms of service</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-8"></div>
                            <a class="bt-salvar btn btn-sm btn-default col-md-1 col-xs-12">Salvar</a>
                            <a class="bt-cancelar btn btn-sm btn-default col-md-1 col-xs-12">Cancelar</a>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </div>
</div>
<script src="~/CoreJs/Aluno/Cadastro.js"></script>



