@model One.Application.ViewModels.ACAlunoVM.ListaAlunoViewModel
@{
    ViewData["Title"] = "Lista de Alunos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                    @*<a href="#" class="fa fa-times"></a>*@
                </div>

                <h2 class="panel-title">@ViewBag.Title</h2>
            </header>
            <div class="panel-body">
                <form class="form-horizontal" novalidate="novalidate">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" asp-for="NomeAluno"></label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control input-sm" asp-for="NomeAluno">
                        </div>
                        <a class="btn btn-default"><i class="glyphicon glyphicon-search"></i> Pesquisar</a>
                        <a class="btn btn-primary" href="@Url.Action("Novo-Aluno","Gerenciar-Aluno")"><i class="glyphicon glyphicon-user"></i> Novo Aluno</a>
                    </div>
                </form>
            </div>
        </section>
    </div>

    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">
                <div class="result-data">
                    <table id="tableAlunos" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Aluno
                                </th>
                                <th>
                                    Idade
                                </th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (ACAlunoViewModel aluno in Model.ListaAlunos)
                            {
                            <tr>
                                <td>
                                    @aluno.SEGUsuarioViewModel.NomeCompleto
                                </td>
                                <td>
                                    @aluno.Idade Anos
                                </td>
                                <td>
                                    <a href="" class="btn btn-editar btn-default" title="Visualizar"><i class="glyphicon glyphicon-eye-open"></i></a>
                                    <a href="@Url.Action("Editar-Aluno", "Gerenciar-Aluno",new { id = aluno.CodigoAluno })" class="btn btn-editar btn-primary" title="Editar"><i class="glyphicon glyphicon-edit"></i></a>
                                    <a href="" class="btn btn-editar btn-danger" title="Excluir"><i class="glyphicon glyphicon-trash"></i></a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>
<script src="~/CoreJs/Aluno/Lista/Common.js"></script>
