<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - One.UI</title>

    <environment include="Development">
        @*Vendors CSS*@
        <script src="~/assets/vendor/jquery/jquery.min.js"></script>
        <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/assets/vendor/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/assets/vendor/magnific-popup/magnific-popup.css" />
        <link href="~/assets/vendor/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
        <link href="~/assets/vendor/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" />
        <link href="~/assets/vendor/sweetalert/sweetalert.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/lib/jquery-datatables/css/jquery.dataTables.css" rel="stylesheet" />

        <!-- Theme CSS -->
        <link rel="stylesheet" href="~/assets/stylesheets/theme.css" />

        <!-- Skin CSS -->
        <link rel="stylesheet" href="~/assets/stylesheets/skins/default.css" />

        <!-- Theme Custom CSS -->
        <link rel="stylesheet" href="~/assets/stylesheets/theme-custom.css">

        <!-- Head Libs -->
        <script src="~/assets/vendor/modernizr/modernizr.js"></script>
    </environment>
    <environment exclude="Development">
    </environment>


    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

</head>
<body>
    <div id="dvLoading" class="loading" style="display: none">
        <img class="loading-image" src="~/images/load.gif" />
    </div>
    <section class="body">
        <header class="header">
            <div class="logo-container">
                <a href="../" class="logo">
                    @*<img src="~/assets/images/" height="35" alt="Porto Admin" />*@
                </a>
                <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                    <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                </div>
            </div>

            <!-- start: search & user box -->
            <div class="header-right">

                <form action="pages-search-results.html" class="search nav-form">
                    <div class="input-group input-search">
                        <input type="text" class="form-control" name="q" id="q" placeholder="Pesquisar Aluno...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </form>

                <span class="separator"></span>

                <ul class="notifications">
                    <li>
                        <a href="#" class="dropdown-toggle notification-icon" data-toggle="dropdown">
                            <i class="fa fa-tasks"></i>
                            <span class="badge">3</span>
                        </a>

                        <div class="dropdown-menu notification-menu large">
                            <div class="notification-title">
                                <span class="pull-right label label-default">3</span>
                                Tasks
                            </div>

                            <div class="content">
                                <ul>
                                    <li>
                                        <p class="clearfix mb-xs">
                                            <span class="message pull-left">Generating Sales Report</span>
                                            <span class="message pull-right text-dark">60%</span>
                                        </p>
                                        <div class="progress progress-xs light">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                                        </div>
                                    </li>

                                    <li>
                                        <p class="clearfix mb-xs">
                                            <span class="message pull-left">Importing Contacts</span>
                                            <span class="message pull-right text-dark">98%</span>
                                        </p>
                                        <div class="progress progress-xs light">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100" style="width: 98%;"></div>
                                        </div>
                                    </li>

                                    <li>
                                        <p class="clearfix mb-xs">
                                            <span class="message pull-left">Uploading something big</span>
                                            <span class="message pull-right text-dark">33%</span>
                                        </p>
                                        <div class="progress progress-xs light mb-xs">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%;"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle notification-icon" data-toggle="dropdown">
                            <i class="fa fa-envelope"></i>
                            <span class="badge">4</span>
                        </a>

                        <div class="dropdown-menu notification-menu">
                            <div class="notification-title">
                                <span class="pull-right label label-default">230</span>
                                Messages
                            </div>

                            <div class="content">
                                <ul>
                                    <li>
                                        <a href="#" class="clearfix">
                                            <figure class="image">
                                                <img src="~/assets/images/!sample-user.jpg" alt="Joseph Doe Junior" class="img-circle" />
                                            </figure>
                                            <span class="title">Joseph Doe</span>
                                            <span class="message">Lorem ipsum dolor sit.</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="clearfix">
                                            <figure class="image">
                                                <img src="~/assets/images/!sample-user.jpg" alt="Joseph Junior" class="img-circle" />
                                            </figure>
                                            <span class="title">Joseph Junior</span>
                                            <span class="message truncate">Truncated message. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lacinia orci. Proin vestibulum eget risus non luctus. Nunc cursus lacinia lacinia. Nulla molestie malesuada est ac tincidunt. Quisque eget convallis diam, nec venenatis risus. Vestibulum blandit faucibus est et malesuada. Sed interdum cursus dui nec venenatis. Pellentesque non nisi lobortis, rutrum eros ut, convallis nisi. Sed tellus turpis, dignissim sit amet tristique quis, pretium id est. Sed aliquam diam diam, sit amet faucibus tellus ultricies eu. Aliquam lacinia nibh a metus bibendum, eu commodo eros commodo. Sed commodo molestie elit, a molestie lacus porttitor id. Donec facilisis varius sapien, ac fringilla velit porttitor et. Nam tincidunt gravida dui, sed pharetra odio pharetra nec. Duis consectetur venenatis pharetra. Vestibulum egestas nisi quis elementum elementum.</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="clearfix">
                                            <figure class="image">
                                                <img src="~/assets/images/!sample-user.jpg" alt="Joe Junior" class="img-circle" />
                                            </figure>
                                            <span class="title">Joe Junior</span>
                                            <span class="message">Lorem ipsum dolor sit.</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="clearfix">
                                            <figure class="image">
                                                <img src="~/assets/images/!sample-user.jpg" alt="Joseph Junior" class="img-circle" />
                                            </figure>
                                            <span class="title">Joseph Junior</span>
                                            <span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lacinia orci. Proin vestibulum eget risus non luctus. Nunc cursus lacinia lacinia. Nulla molestie malesuada est ac tincidunt. Quisque eget convallis diam.</span>
                                        </a>
                                    </li>
                                </ul>

                                <hr />

                                <div class="text-right">
                                    <a href="#" class="view-more">View All</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle notification-icon" data-toggle="dropdown">
                            <i class="fa fa-bell"></i>
                            <span class="badge">3</span>
                        </a>

                        <div class="dropdown-menu notification-menu">
                            <div class="notification-title">
                                <span class="pull-right label label-default">3</span>
                                Alerts
                            </div>

                            <div class="content">
                                <ul>
                                    <li>
                                        <a href="#" class="clearfix">
                                            <div class="image">
                                                <i class="fa fa-thumbs-down bg-danger"></i>
                                            </div>
                                            <span class="title">Server is Down!</span>
                                            <span class="message">Just now</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="clearfix">
                                            <div class="image">
                                                <i class="fa fa-lock bg-warning"></i>
                                            </div>
                                            <span class="title">User Locked</span>
                                            <span class="message">15 minutes ago</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="clearfix">
                                            <div class="image">
                                                <i class="fa fa-signal bg-success"></i>
                                            </div>
                                            <span class="title">Connection Restaured</span>
                                            <span class="message">10/10/2014</span>
                                        </a>
                                    </li>
                                </ul>

                                <hr />

                                <div class="text-right">
                                    <a href="#" class="view-more">View All</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>

                <span class="separator"></span>

                <div id="userbox" class="userbox">
                    <a href="#" data-toggle="dropdown">
                        <figure class="profile-picture">
                            <img src="~/assets/images/!logged-user.jpg" alt="Joseph Doe" class="img-circle" data-lock-picture="~/assets/images/!logged-user.jpg" />
                        </figure>
                        <div class="profile-info">
                            <span class="name">@ViewBag.login</span>
                        </div>

                        <i class="fa custom-caret"></i>
                    </a>

                    <div class="dropdown-menu">
                        <ul class="list-unstyled">
                            <li class="divider"></li>
                            <li>
                                <a role="menuitem" tabindex="-1" href="pages-user-profile.html"><i class="fa fa-user"></i> Meus Dados</a>
                            </li>
                            <li>
                                <a role="menuitem" tabindex="-1" href=@Url.Action("LogOut","Seguranca")><i class="fa fa-power-off"></i> Sair</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end: search & user box -->
        </header>
        <!-- end: header -->

        <partial name="_CookieConsentPartial" />


        <div class="inner-wrapper">
            <!-- start: sidebar -->
            <aside id="sidebar-left" class="sidebar-left">

                <div class="sidebar-header">
                    <div class="sidebar-title">
                        Gestão Acadêmica
                    </div>
                    <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
                        <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                    </div>
                </div>

                <div class="nano">
                    <div class="nano-content">
                        <nav id="menu" class="nav-main" role="navigation">
                            <ul class="nav nav-main">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-home" aria-hidden="true"></i>
                                        <span>Home</span>
                                    </a>
                                </li>
                                <li class="nav-parent">
                                    <a id="MenuAcademico">
                                        <i class="fa fa-book" aria-hidden="true"></i>
                                        <span>Acadêmico</span>
                                    </a>
                                    <ul class="nav nav-children">
                                        <li>
                                            <a href="@Url.Action("Lista-Aluno","Gerenciar-Aluno")">
                                                Alunos
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Lista-Responsavel","Gerenciar-Responsavel")">
                                                Responsáveis
                                            </a>
                                        </li>
                                        <li>
                                            <a id="SubMenuProfessor" href="@Url.Action("Lista-Professor", "Gerenciar-Professor")">
                                                Professores
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Lista-Turma", "Gerenciar-Turma")">
                                                Turmas
                                            </a>
                                        </li>
                                        <li>
                                            <a href="pages-session-timeout.html">
                                                Nívels
                                            </a>
                                        </li>
                                        <li>
                                            <a href="pages-calendar.html">
                                                Faixa Etária
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-parent">
                                    <a>
                                        <i class="fa fa-money" aria-hidden="true"></i>
                                        <span>Financeiro</span>
                                    </a>
                                    <ul class="nav nav-children">
                                        <li>
                                            <a href="ui-elements-typography.html">
                                                Inadimplência
                                            </a>
                                        </li>
                                        <li>
                                            <a href="ui-elements-icons.html">
                                                A pagar
                                            </a>
                                        </li>
                                        <li>
                                            <a href="ui-elements-tabs.html">
                                                A receber
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-parent">
                                    <a>
                                        <i class="fa fa-lock" aria-hidden="true"></i>
                                        <span>Segurança</span>
                                    </a>
                                    <ul class="nav nav-children">
                                        <li>
                                            <a href="forms-basic.html">
                                                Usuários
                                            </a>
                                        </li>
                                        <li>
                                            <a href="forms-advanced.html">
                                                Perfis
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>

                        <hr class="separator" />

                        <hr class="separator" />

                        <div class="sidebar-widget widget-stats">
                            <div class="widget-header">
                                <h6>Estatísticas</h6>
                                <div class="widget-toggle">+</div>
                            </div>
                            <div class="widget-content">
                                <ul>
                                    <li>
                                        <span class="stats-title">Inadimplência</span>
                                        <span class="stats-complete">85%</span>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-danger progress-without-number" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
                                                <span class="sr-only">85%</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <span class="stats-title">Retenção</span>
                                        <span class="stats-complete">70%</span>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success progress-without-number" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                                                <span class="sr-only">70%</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <span class="stats-title">Novos Alunos</span>
                                        <span class="stats-complete">2%</span>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-primary progress-without-number" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width: 2%;">
                                                <span class="sr-only">2%</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

            </aside>
            <!-- end: sidebar -->

            <section role="main" class="content-body" id="ModuloSistema">
                <header class="page-header">
                    <h2>@ViewBag.Title</h2>
                </header>

                @RenderBody()

                <footer>
                    <p>&copy; 2019 - One Idiomas</p>
                </footer>
            </section>
        </div>
        <aside id="sidebar-right" class="sidebar-right">
            <div class="nano">
                <div class="nano-content">
                    <a href="#" class="mobile-close visible-xs">
                        Collapse <i class="fa fa-chevron-right"></i>
                    </a>

                    <div class="sidebar-right-wrapper">

                        <div class="sidebar-widget widget-calendar">
                            <h6>Upcoming Tasks</h6>
                            <div data-plugin-datepicker data-plugin-skin="dark"></div>

                            <ul>
                                <li>
                                    <time datetime="2014-04-19T00:00+00:00">04/19/2014</time>
                                    <span>Company Meeting</span>
                                </li>
                            </ul>
                        </div>

                        <div class="sidebar-widget widget-friends">
                            <h6>Friends</h6>
                            <ul>
                                <li class="status-online">
                                    <figure class="profile-picture">
                                        <img src="~/assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
                                    </figure>
                                    <div class="profile-info">
                                        <span class="name">Joseph Doe Junior</span>
                                        <span class="title">Hey, how are you?</span>
                                    </div>
                                </li>
                                <li class="status-online">
                                    <figure class="profile-picture">
                                        <img src="~/assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
                                    </figure>
                                    <div class="profile-info">
                                        <span class="name">Joseph Doe Junior</span>
                                        <span class="title">Hey, how are you?</span>
                                    </div>
                                </li>
                                <li class="status-offline">
                                    <figure class="profile-picture">
                                        <img src="~/assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
                                    </figure>
                                    <div class="profile-info">
                                        <span class="name">Joseph Doe Junior</span>
                                        <span class="title">Hey, how are you?</span>
                                    </div>
                                </li>
                                <li class="status-offline">
                                    <figure class="profile-picture">
                                        <img src="~/assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
                                    </figure>
                                    <div class="profile-info">
                                        <span class="name">Joseph Doe Junior</span>
                                        <span class="title">Hey, how are you?</span>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </aside>
    </section>

    <input type="hidden" id="tbBaseUrl" value="@ViewBag.BaseUrl" />

    <environment include="Development">
        <!-- Vendor -->
        <script src="~/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
        <script src="~/assets/vendor/bootstrap/js/bootstrap.js"></script>
        <script src="~/assets/vendor/nanoscroller/nanoscroller.js"></script>
        <script src="~/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
        <script src="~/assets/vendor/bootstrap-datepicker/js/locales/bootstrap-datepicker.pt-BR.js"></script>
        <script src="~/assets/vendor/magnific-popup/magnific-popup.js"></script>
        <script src="~/assets/vendor/jquery-placeholder/jquery.placeholder.js"></script>
        <script src="~/assets/vendor/sweetalert/sweetalert.js"></script>
        <script src="~/lib/jquery-datatables/js/jquery.dataTables.min.js"></script>
        <script src="~/lib/jquery-masks/jquery.mask.js"></script>

        <script src="~/CoreJs/Sistema/coresistema.js"></script>
        <script src="~/CoreJs/Sistema/Paginador.js"></script>
        <script src="~/CoreJs/Sistema/Paginador.js"></script>
        <script src="~/CoreJs/Sistema/Alerts.js"></script>
        <script src="~/CoreJs/Sistema/Loading.js"></script>
        <script src="~/CoreJs/Sistema/Data.js"></script>
        <script src="~/CoreJs/Sistema/DataTable.js"></script>
        <script src="~/CoreJs/Sistema/Telefone.js"></script>
        <script src="~/CoreJs/Sistema/Comandos.js"></script>
        <script src="~/CoreJs/Sistema/FileUpload.js"></script>

        <!-- Theme Base, Components and Settings -->
        <script src="~/assets/javascripts/theme.js"></script>

        <!-- Theme Custom -->
        <script src="~/assets/javascripts/theme.custom.js"></script>

        <!-- Theme Initialization Files -->
        <script src="~/assets/javascripts/theme.init.js"></script>
    </environment>
</body>
</html>
