@model One.Application.ViewModels.ACResponsavelVM.FormResponsavelViewModel
@{
    Layout = null;
}

@*Nome*@
<div class="form-group">
    <label class="col-sm-2 control-label" asp-for="NomeResponsavel"></label>
    <div class="col-sm-8">
        <input type="text" class="form-control input-sm" asp-for="NomeResponsavel">
    </div>
</div>

@*Nascimento/Idade/Telefone*@
<div class="form-group">
    <label class="col-sm-2 control-label" asp-for="DataNascimentoResponsavel"></label>
    <div class="col-sm-2">
        <input one-ui="date" class="form-control input-sm" asp-for="DataNascimentoResponsavel">
    </div>

    <label class="col-sm-1 control-label" asp-for="IdadeResponsavel"></label>
    <div class="col-sm-2">
        <input class="form-control input-sm" asp-for="IdadeResponsavel" readonly>
    </div>

    <label class="col-sm-1 control-label" asp-for="CodigoParentesco"></label>
    <div class="col-sm-2">
        <select class="form-control input-sm" asp-for="CodigoParentesco">
            @foreach (GEParentescoViewModel parentesco in ViewBag.ListaParentesco)
            {
                if (parentesco.CodigoParentesco == Model.CodigoParentesco)
                {
                    <option value="@parentesco.CodigoParentesco" selected="selected">@parentesco.Descricao</option>
                }
                else
                {
                    <option value="@parentesco.CodigoParentesco">@parentesco.Descricao</option>
                }
            }
        </select>

    </div>
</div>

@*RG/CPF/Dia de Vencimento*@
<div class="form-group">
    <label class="col-sm-2 control-label" asp-for="RGResponsavel"></label>
    <div class="col-sm-2">
        <input class="form-control input-sm" asp-for="RGResponsavel">
    </div>

    <label class="col-sm-1 control-label" asp-for="CPFResponsavel"></label>
    <div class="col-sm-2">
        <input class="form-control input-sm" asp-for="CPFResponsavel">
    </div>

    <label class="col-sm-1 control-label" asp-for="TelefoneResponsavel"></label>
    <div class="col-sm-2">
        <input class="form-control input-sm" asp-for="TelefoneResponsavel">
    </div>
</div>

@*CEP/UF/Cidade*@
<div class="form-group">
    <label class="col-sm-2 control-label" asp-for="LogradouroResponsavel"></label>
    <div class="col-sm-5">
        <input type="text" class="form-control input-sm" asp-for="LogradouroResponsavel">
    </div>

    <label class="col-sm-1 control-label" asp-for="NumeroResponsavel"></label>
    <div class="col-sm-2">
        <input class="form-control input-sm" asp-for="NumeroResponsavel">
    </div>
</div>

@*Logradouro/Bairro*@
<div class="form-group">
    <label class="col-sm-2 control-label" asp-for="CodigoUFResponsavel"></label>
    <div class="col-sm-2">
        <select class="form-control input-sm" readonly asp-for="CodigoUFResponsavel">

            @foreach (GEUFViewModel uf in ViewBag.ListaUF)
            {
                if (Model.CodigoUFResponsavel == uf.CodigoUF)
                {
                    <option value="@uf.CodigoUF" selected="selected">
                        @uf.Descricao
                    </option>
                }
                else
                {
                    <option value="@uf.CodigoUF">
                        @uf.Descricao
                    </option>
                }

            }

        </select>
    </div>

    <label class="col-sm-1 control-label" asp-for="CodigoCidadeResponsavel"></label>
    <div class="col-sm-2">
        <select class="form-control input-sm" readonly asp-for="CodigoCidadeResponsavel">
            @foreach (GECidadeViewModel cidade in ViewBag.ListaCidade)
            {
                if (Model.CodigoCidadeResponsavel == cidade.CodigoCidade)
                {
                    <option value="@cidade.CodigoCidade" selected="selected">
                        @cidade.Descricao
                    </option>
                }
                else
                {
                    <option value="@cidade.CodigoCidade">
                        @cidade.Descricao
                    </option>
                }
            }
        </select>
    </div>

    <label class="col-sm-1 control-label" asp-for="CodigoBairroResponsavel"></label>
    <div class="col-sm-2">
        <select class="form-control input-sm" asp-for="CodigoBairroResponsavel">
            @foreach (GEBairroViewModel bairro in ViewBag.ListaBairro)
            {
                if (Model.CodigoBairroResponsavel == bairro.CodigoBairro)
                {
                    <option value="@bairro.CodigoBairro" selected="selected">
                        @bairro.Descricao
                    </option>
                }
                else
                {
                    <option value="@bairro.CodigoBairro">
                        @bairro.Descricao
                    </option>
                }
            }
        </select>
    </div>
</div>
<script src="~/CoreJs/ACResponsavel/FormResponsavel/FormResponsavel.js"></script>